<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo5.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/popup-overlay-plugin/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">

  
  
  

</head>
<body>
  
  <section class="header01 cid-rZq2PVdUqR mbr-fullscreen mbr-parallax-background" id="header01-1">

    

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(11, 29, 50);"></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="mbr-white col-md-12">
                <div class="wrap">
                    <h2 class="mbr-section-subtitle mbr-white mbr-bold font-italic mbr-fonts-style display-2">EcoFlow DELTA 1300 + EcoFlow 160W Solar Panel</h2>
                    <div class="mask align-center justify-content-center">
                        <div class="wrap-text d-flex">
                            <h1 class="mbr-section-title w-100 price mbr-bold mbr-white pb-lg-4 pb-1 mbr-fonts-style align-center display-1">
                                50%&nbsp;</h1>
                            <h1 class="mbr-section-title w-100 mbr-bold mbr-white pb-lg-4 pb-1 mbr-fonts-style align-center display-1">OFF RETAIL PRICE!</h1>
                        </div>
                    </div>
                    <p class="mbr-text pb-5 mbr-white font-italic mbr-fonts-style mbr-bold mbr-white align-right display-5">NEW IN OPEN BOX!</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="list5 cid-tRaO3B9i6x" id="list05-9">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12">
                <h3 class="mbr-section-title mbr-fonts-style mb-4 display-2">EcoFlow DELTA 1300 Portable Power Station + EcoFlow 160W Portable Solar Panel</h3>

                <div class="mbr-list mbr-fonts-style display-7">
                    <ul>
                        <li>Both items are new and unused, both were opened to verify there contents and to test that they function correctly.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="corem5 image1 cid-tR8kKd3f6E" id="image01-2">
    

    
    

    <div class="container-fluid">
        <div class="row">

            <div class="col-12 col-lg-6">
                <div class="image-wrapper pb">
                    <img src="assets/images/photoroom-20230927-015355-9-1365x1365.png" alt="">
                    
                </div>
                <div class="image-wrapper md-pb ">
                    <img src="assets/images/photoroom-20230927-015356-27-1365x1365.png" alt="">
                    
                </div>
            </div>

            <div class="col-12 m-auto col-lg-6">
                <div class="image-wrapper">
                    <img src="assets/images/photoroom-20230927-015356-18-1365x1365.png" alt="">
                    
                </div>
            </div>

        </div>
    </div>
</section>

<section data-bs-version="5.1" class="corem5 image3 cid-tR8kLgdQ64" id="image03-3">
    

    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 m-auto col-lg-4">
                <div class="image-wrapper">
                    <img src="assets/images/ecoflow-us-ecoflow-delta-160w-portable-solar-panel-bundle-delta-1300-1-160w-30086029606985-400x2x.webp" alt="">
                    
                </div>
            </div>
            <div class="col-12 m-auto col-lg-4">
                <div class="image-wrapper">
                    <img src="assets/images/ecoflow-tech-ecoflow-delta-portable-power-station-refurbished-portable-power-28784476553289-720x.webp" alt="">
                    
                </div>
            </div>
            <div class="col-12 m-auto col-lg-4">
                <div class="image-wrapper">
                    <img src="assets/images/ecoflow-ecoflow-160w-portable-solar-panel-30045747544137-720x.webp" alt="">
                    
                </div>
            </div>

        </div>
    </div>
</section>


<script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
  

</body>
</html>